USE [master]
GO
/****** Object:  Database [AnimStudio]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE DATABASE [AnimStudio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AnimStudio', FILENAME = N'/var/opt/mssql/data/AnimStudio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AnimStudio_log', FILENAME = N'/var/opt/mssql/data/AnimStudio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AnimStudio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AnimStudio]
GO
/****** Object:  Schema [content]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE SCHEMA [content]
GO
/****** Object:  Schema [identity]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE SCHEMA [identity]
GO
/****** Object:  Schema [shared]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE SCHEMA [shared]
GO
/****** Object:  Table [content].[Episodes]    Script Date: 4/12/2026 12:18:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [content].[Episodes](
	[Id] [uniqueidentifier] NOT NULL,
	[ProjectId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Idea] [nvarchar](max) NULL,
	[Style] [nvarchar](500) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[TemplateId] [uniqueidentifier] NULL,
	[CharacterIds] [nvarchar](max) NOT NULL,
	[DirectorNotes] [nvarchar](max) NULL,
	[RenderedAt] [datetimeoffset](7) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetimeoffset](7) NULL,
	[DeletedByUserId] [uniqueidentifier] NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Episodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [content].[Jobs]    Script Date: 4/12/2026 12:18:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [content].[Jobs](
	[Id] [uniqueidentifier] NOT NULL,
	[EpisodeId] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Payload] [nvarchar](max) NULL,
	[Result] [nvarchar](max) NULL,
	[ErrorMessage] [nvarchar](4000) NULL,
	[QueuedAt] [datetimeoffset](7) NOT NULL,
	[StartedAt] [datetimeoffset](7) NULL,
	[CompletedAt] [datetimeoffset](7) NULL,
	[AttemptNumber] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetimeoffset](7) NULL,
	[DeletedByUserId] [uniqueidentifier] NULL,
	[RowVersion] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [content].[Projects]    Script Date: 4/12/2026 12:18:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [content].[Projects](
	[Id] [uniqueidentifier] NOT NULL,
	[TeamId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[ThumbnailUrl] [nvarchar](2000) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetimeoffset](7) NULL,
	[DeletedByUserId] [uniqueidentifier] NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/12/2026 12:18:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [identity].[Plans]    Script Date: 4/12/2026 12:18:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [identity].[Plans](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[StripePriceId] [nvarchar](256) NOT NULL,
	[EpisodesPerMonth] [int] NOT NULL,
	[MaxCharacters] [int] NOT NULL,
	[MaxTeamMembers] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetimeoffset](7) NULL,
	[DeletedByUserId] [uniqueidentifier] NULL,
	[RowVersion] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Plans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [identity].[Subscriptions]    Script Date: 4/12/2026 12:18:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [identity].[Subscriptions](
	[Id] [uniqueidentifier] NOT NULL,
	[TeamId] [uniqueidentifier] NOT NULL,
	[PlanId] [uniqueidentifier] NOT NULL,
	[StripeSubscriptionId] [nvarchar](256) NULL,
	[StripeCustomerId] [nvarchar](256) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CurrentPeriodStart] [datetimeoffset](7) NOT NULL,
	[CurrentPeriodEnd] [datetimeoffset](7) NOT NULL,
	[TrialEndsAt] [datetimeoffset](7) NULL,
	[CancelAtPeriodEnd] [bit] NOT NULL,
	[UsageEpisodesThisMonth] [int] NOT NULL,
	[UsageResetAt] [datetimeoffset](7) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetimeoffset](7) NULL,
	[DeletedByUserId] [uniqueidentifier] NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Subscriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [identity].[TeamMembers]    Script Date: 4/12/2026 12:18:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [identity].[TeamMembers](
	[TeamId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[JoinedAt] [datetimeoffset](7) NOT NULL,
	[InviteToken] [nvarchar](256) NULL,
	[InviteExpiresAt] [datetimeoffset](7) NULL,
	[InviteAcceptedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_TeamMembers] PRIMARY KEY CLUSTERED 
(
	[TeamId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [identity].[Teams]    Script Date: 4/12/2026 12:18:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [identity].[Teams](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[LogoUrl] [nvarchar](2048) NULL,
	[OwnerId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetimeoffset](7) NULL,
	[DeletedByUserId] [uniqueidentifier] NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [identity].[Users]    Script Date: 4/12/2026 12:18:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [identity].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](320) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[ExternalId] [nvarchar](256) NOT NULL,
	[AvatarUrl] [nvarchar](2048) NULL,
	[LastLoginAt] [datetimeoffset](7) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetimeoffset](7) NULL,
	[DeletedByUserId] [uniqueidentifier] NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [shared].[OutboxMessages]    Script Date: 4/12/2026 12:18:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[OutboxMessages](
	[Id] [uniqueidentifier] NOT NULL,
	[EventType] [nvarchar](256) NOT NULL,
	[Payload] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[OccurredAt] [datetimeoffset](7) NOT NULL,
	[ProcessedAt] [datetimeoffset](7) NULL,
	[RetryCount] [int] NOT NULL,
 CONSTRAINT [PK_OutboxMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [shared].[SagaStates]    Script Date: 4/12/2026 12:18:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [shared].[SagaStates](
	[Id] [uniqueidentifier] NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
	[CurrentStage] [nvarchar](50) NOT NULL,
	[EpisodeId] [uniqueidentifier] NOT NULL,
	[IsCompensating] [bit] NOT NULL,
	[LastError] [nvarchar](2000) NULL,
	[RetryCount] [int] NOT NULL,
	[StartedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_SagaStates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Episodes_ProjectId]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_Episodes_ProjectId] ON [content].[Episodes]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Jobs_EpisodeId]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_Jobs_EpisodeId] ON [content].[Jobs]
(
	[EpisodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Jobs_Status]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_Jobs_Status] ON [content].[Jobs]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projects_TeamId]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_Projects_TeamId] ON [content].[Projects]
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Plans_Name]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Plans_Name] ON [identity].[Plans]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Plans_StripePriceId]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Plans_StripePriceId] ON [identity].[Plans]
(
	[StripePriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subscriptions_PlanId]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_Subscriptions_PlanId] ON [identity].[Subscriptions]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Subscriptions_StripeSubscriptionId]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Subscriptions_StripeSubscriptionId] ON [identity].[Subscriptions]
(
	[StripeSubscriptionId] ASC
)
WHERE ([StripeSubscriptionId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subscriptions_TeamId]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Subscriptions_TeamId] ON [identity].[Subscriptions]
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TeamMembers_InviteToken]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TeamMembers_InviteToken] ON [identity].[TeamMembers]
(
	[InviteToken] ASC
)
WHERE ([InviteToken] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeamMembers_UserId]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_TeamMembers_UserId] ON [identity].[TeamMembers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [identity].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_ExternalId]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_ExternalId] ON [identity].[Users]
(
	[ExternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OutboxMessages_Status_OccurredAt]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_OutboxMessages_Status_OccurredAt] ON [shared].[OutboxMessages]
(
	[Status] ASC,
	[OccurredAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SagaStates_EpisodeId]    Script Date: 4/12/2026 12:18:46 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SagaStates_EpisodeId] ON [shared].[SagaStates]
(
	[EpisodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [shared].[SagaStates] ADD  DEFAULT (N'') FOR [CurrentStage]
GO
ALTER TABLE [shared].[SagaStates] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [EpisodeId]
GO
ALTER TABLE [shared].[SagaStates] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsCompensating]
GO
ALTER TABLE [shared].[SagaStates] ADD  DEFAULT ((0)) FOR [RetryCount]
GO
ALTER TABLE [shared].[SagaStates] ADD  DEFAULT ('0001-01-01T00:00:00.0000000+00:00') FOR [StartedAt]
GO
ALTER TABLE [identity].[Subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Subscriptions_Plans_PlanId] FOREIGN KEY([PlanId])
REFERENCES [identity].[Plans] ([Id])
GO
ALTER TABLE [identity].[Subscriptions] CHECK CONSTRAINT [FK_Subscriptions_Plans_PlanId]
GO
ALTER TABLE [identity].[Subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Subscriptions_Teams_TeamId] FOREIGN KEY([TeamId])
REFERENCES [identity].[Teams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [identity].[Subscriptions] CHECK CONSTRAINT [FK_Subscriptions_Teams_TeamId]
GO
ALTER TABLE [identity].[TeamMembers]  WITH CHECK ADD  CONSTRAINT [FK_TeamMembers_Teams_TeamId] FOREIGN KEY([TeamId])
REFERENCES [identity].[Teams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [identity].[TeamMembers] CHECK CONSTRAINT [FK_TeamMembers_Teams_TeamId]
GO
ALTER TABLE [identity].[TeamMembers]  WITH CHECK ADD  CONSTRAINT [FK_TeamMembers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [identity].[Users] ([Id])
GO
ALTER TABLE [identity].[TeamMembers] CHECK CONSTRAINT [FK_TeamMembers_Users_UserId]
GO
USE [master]
GO
